@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --ring: 240 5.9% 10%;
    --radius: 0rem;
  }

  .dark {
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --ring: 0 0% 98%;
  }
}
